# paths
*.egg-info/
.cache/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.vscode/
bmds_ui/static/bundles/
build/
/data/
coverage_report/
dist/
docs/site/
node_modules/
scripts/private
/public/
/private/
venv/

# files
*.log
*.py[cod]
*.sqlite3*
*log
.coverage
.env
.eslintcache
bmds_ui/gitcommit.json
bmds_ui/main/settings/local.py
bmds_ui/webpack-stats.json
celerybeat-schedule
compose/nginx/conf/nginx.conf
settings.ini

# keep folders, ignore contents
logs/*
public/*
tests/data/reports/*
!logs/.gitkeep
!public/.gitkeep
!tests/data/reports/.gitkeep
