<form class="form-inline" hx-target="closest li" hx-swap="outerHTML">
    {% csrf_token %}
    <div class="form-group">{{ form.name }}</div>
    <div class="form-group d-flex">
        {% if object.id %}
            <a class="btn btn-primary" type="submit"
                hx-target="#collection-list"
                hx-post="{% url 'actions' action='collection_update' %}?id={{object.id}}">Update</a>
            <a class="btn btn-light" href="#"
                hx-get="{% url 'actions' action='collection_detail' %}?id={{object.id}}">Cancel</a>
            <a class="btn btn-danger" href="#"
                hx-confirm="Are you sure you wish to delete?"
                hx-delete="{% url 'actions' action='collection_delete' %}?id={{object.id}}"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Delete</a>
        {% else %}
            <button class="btn btn-primary" type="submit"
                hx-target="#collection-list"
                hx-post="{% url 'actions' action='collection_create' %}">Create</button>
            <button class="btn btn-light" type='button'
                onclick="$(this).closest('form').remove()">Cancel</button>
        {% endif %}
    </div>
</form>
